
LOGISTICS_APP_LOG_LEVEL=debug


LOGISTICS_APP_DATABASE_MYSQL_HOST=127.0.0.1
LOGISTICS_APP_DATABASE_MYSQL_PORT=3306
LOGISTICS_APP_DATABASE_MYSQL_USERNAME=root
LOGISTICS_APP_DATABASE_MYSQL_PASSWORD=12345678
LOGISTICS_APP_DATABASE_MYSQL_DBNAME=logistics_app_db
LOGISTICS_APP_JWT_KEY=your-jwt-key

LOGISTICS_APP_APP_ENABLE_CORS=true
LOGISTICS_APP_APP_ALLOWORIGINS=http://localhost:5173,http://localhost:8080